<!-- local reference: #postInput. Get user input in component: postInput:HTMLTextAreaElement -->
<!-- ngModel is in FormsModule which need to inject in NgModule -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="Title"
        ngModel
        required
        minlength="3"
        placeholder="Post Title"
        #postTitle="ngModel"
      />
      <mat-error *ngIf="postTitle.invalid"
        >Please enter a post title!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <!-- <mat-label>Please enter your post</mat-label> -->
      <textarea
        matInput
        rows="6"
        name="Content"
        ngModel
        required
        placeholder="Post Content"
        #postContent="ngModel"
      ></textarea>
      <mat-error *ngIf="postContent.invalid"
        >Please enter a post title!</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
